{% extends 'base.html' %}
{% load static %}
{% block content %}

{% include 'header_menu.html' %}
<link rel="stylesheet" href="{% static 'css/errors.css' %}">

<section class="hero d-flex flex-column justify-content-center align-items-center">
<div>
    <h2>404<br>Página não Encontrada!</h2>
    <p>Infelizmente a página que você procura não está disponível.</p>
    <div>
        <a href="{% url 'index' %}" class="btn btn-common">Volte para a página principal</i></a>
    </div>
</div>
</section>
{% endblock %}