<section class="about section" id="create">
    <div class="container">
        <div class="row">
            <!-- Romm Access -->
            <div class="mt-lg-auto mb-4 col-lg-5 col-md-10 mx-auto col-12">
                <h2 class="mb-4" data-aos="fade-up" data-aos-delay="140">Crie sua sala</h2>

                <p data-aos="fade-up" data-aos-delay="180">Nome da Sala:</p>
                <input type="text" v-model="room.room" data-aos="fade-up" style="width: 80%;" data-aos-delay="220">

                <p data-aos="fade-up" data-aos-delay="180">Seu nome:</p>
                <input type="text" v-model="user.name" data-aos="fade-up" style="width: 80%;" data-aos-delay="220">

                <p data-aos="fade-up" data-aos-delay="180">Tema:</p>
                <input type="text" v-model="room.theme" data-aos="fade-up" style="width: 80%;" data-aos-delay="220">

                <p data-aos="fade-up" data-aos-delay="180">Senha:</p>
                <input type="password" v-model="room.password" data-aos="fade-up" style="width: 80%;" data-aos-delay="220">

                <div data-aos="fade-up" data-aos-delay="180">
                    <p>Tipo de votação:</p>
                    <select id="select" v-model="type" name="type" style="width: 80%;">
                        <option :value="'users'">Eleição</option>
                        <option :value="'objects'">Votar em itens</option>
                    </select>

                    <button @click="createServer()" type="submit" class="btn custom-btn-dark bg-color mt-3">
                        Criar sala
                    </button>
                </div>
            </div>

            <!-- Romm Objects -->
            <div v-if="type=='objects'" class="ml-lg-auto col-lg-13 col-md-6 col-12" style="display: block;" data-aos="fade-up" data-aos-delay="100">
                <template v-if="table && objects.length">
                    <div  data-aos="fade-up" data-aos-delay="180">
                        <div class="row table-objects">
                            <div class="col object" v-for="object in objects" :key="object.name">
                                <button @click="deleteObject(object)" style="color:red;" type="button" class="close" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h6>[ refactorString(object.name) ]</h6>
                                <p>[ refactorString(object.description) ]</p>
                            </div>
                        </div>
                        <button class="btn custom-btn-dark bg-color mt-3" @click="table = !table">
                            Voltar a criação
                        </button>
                    </div>
                </template>

                <template v-else>
                    <h2 class="mb-4" data-aos="fade-up" data-aos-delay="180">Objetos</h2>

                    <p data-aos="fade-up" data-aos-delay="180">Nome do Objeto:</p>
                    <input type="text" v-model="object.name" data-aos="fade-up" style="width: 80%;" data-aos-delay="220">

                    <p data-aos="fade-up" data-aos-delay="180">Descrição (Opcional):</p>
                    <input type="text" v-model="object.description" data-aos="fade-up" style="width: 80%;" data-aos-delay="220">

                    <div>
                        <button class="btn custom-btn-dark bg-color mt-3" data-aos="fade-up" data-aos-delay="240" @click="createObject()">
                            Criar Objeto
                        </button>

                        <button @click="table = !table" id="btn-obj" class="btn custom-btn bordered mt-3 " data-aos="fade-up" data-aos-delay="240">
                            Ver Objetos
                        </button>
                    </div>
                </template>
            </div>

        </div>
    </div>
</section>
