{% load static %}
<div>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="cont">

            <a class="navbar-brand" href="index.html">Quick Vote</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <template v-if="!copy">
                <h6 class="port-room navbar-brand">Sala Existente</h6>
            </template>

            <template v-else>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-check2" viewBox="0 0 16 16">
                    <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                </svg>
                <label class="check">Copied!</label>
            </template>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link smoothScroll">Sair</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</div>

<style scoped>
svg{
    color: greenyellow;
}
.port-room{
    color: #f13a11;
    cursor: pointer;
}
.check{
    color: greenyellow;
}
.cont{
    display: flex;
    justify-content: space-between;
    background-color: none;
    border: none;
}
</style>
