<!-- chat/templates/chat/chat.html -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Room</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
</head>

<body>
    {{ username|json_script:"username" }}
    {{ room_name|json_script:"room-name" }}

     <div class="grid grid-template-rows-4">
         <div>1</div>
         <div>2</div>
         <div>3</div>
         <div>4</div>
         <div>5</div>
         <div>6</div>
         <div id="room">
            <div class="chat">
                <div v-for="msg in messages">
                    <div v-if="msg.name != username" class="container darker">
                        <h3 class="right">[msg.name]</h3>
                        <p class="message" >[msg.message]</p>
                        <span class="time-left">11:01</span>
                    </div>

                    <div v-if="msg.name == username" class="container">
                        <h3 class="right">[msg.name]</h3>
                        <p class="message">[msg.message]</p>
                        <span class="time-right">11:02</span>
                    </div>
                </div>
            </div>
            <div style="display: flex;">
                <input id="chat-message-input" type="text" v-model="message">
                <button @click="sendMessage()">Enviar</button>
            </div>
        </div>
     </div>
        
    <!-- <textarea id="chat-log" cols="100" rows="20"></textarea><br> -->
    <!-- <input id="chat-message-submit" type="button" value="Send" v-on:click="sendMessage()">  -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#room',
            delimiters: ['[', ']'],

            data: {
                message: "",
                chatSocket: null,
                roomName: JSON.parse(document.getElementById('room-name').textContent),
                username: JSON.parse(document.getElementById('username').textContent),
                messages: [
                    {
                        name: 'Quick Vote',
                        message: 'Seja bem vindo!'
                    }
                ]
            },
            created(){
                this.chatSocket = new WebSocket(
                    'ws://' +
                    window.location.host +
                    '/ws/chat/' +
                    this.roomName +
                    '/'
                );
                this.chatSocket.onmessage = e => {
                    const data = JSON.parse(e.data);
                    this.messages.push({
                        name: data.name,
                        message: data.message
                    });
                };
                this.chatSocket.onclose = function (e) {
                    console.error('Chat socket closed unexpectedly');
                };
            },
            methods:{
                sendMessage(){
                    this.chatSocket.send(JSON.stringify({
                        'name': this.username,
                        'message': this.message
                    }));
                    this.message = '';
                }
            }
        })
    </script>
</body>
</html>