{% load static %}
<div>
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">

            <a class="navbar-brand" href="/">Quick Vote</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            {% if request.path == '/' %}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link smoothScroll">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="#enter" class="nav-link smoothScroll">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="#create" class="nav-link smoothScroll">Criar Sala</a>
                    </li>
                </ul>
            </div>
            {% else %}
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-lg-auto">
                    <li class="nav-item">
                        <a href="/#home" class="nav-link smoothScroll">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#enter" class="nav-link smoothScroll">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#create" class="nav-link smoothScroll">Criar Sala</a>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </nav>
</div>
