/* -- Chat -- */
.chat{
  overflow-y: auto;
  height: 300px;
  max-height: 100ch;
  max-width: 100%;
  padding: 5px;
  background-color: none;
}
#chat-message-input{
  width: 100%;
  margin-right: 5px;
}
/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px;
}
/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}
/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}
.right{
  padding: 0px;
  margin: 0px;
  font-size: 1.3rem;
}
.message{
  padding: 0px 0px 0px 0px;
  margin: 0px;
  overflow: hidden;
}
/* Style time text */
.time-right {
  float: right;
  color: #aaa;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* Style time text */
.time-left {
  float: left;
  color: #999;
  margin-top: 0px;
  margin-bottom: 0px;
}
.chat-message{
    display: flex;
    margin-top: 5%;
}
.chat-top{
    max-height: 100%;
    margin-top: 5%;
    background-color: rgba(0,0,0,0.6);
    border-color: rgba(0,0,0,0.6);
}
.bottom-1px{
    padding: 0px 5px 0px 5px;
    margin-bottom: 2px;
}


/* -- Chat Scroll -- */
/* width */
.chat::-webkit-scrollbar {
  width: 10px;
}
/* Track */
.chat::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
.chat::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
  background: #555;
}
